__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

.ipynb_checkpoints/

assets/images/*.jpg
assets/images/*.jpeg
assets/images/*.png

data/raw/heart-disease.zip

tmp_*

.DS_Store
Thumbs.db
